page-home {
    ion-col {
        border: 1px solid black;
        text-align: center;
    }

    ion-grid {
        transform: skew(179deg,179deg);
    }

    .input-code {
        border: 1px solid darkgrey;
    }

    .input-code .text-input {
        text-align: center;
    }
}

// @media only screen and (orientation: landscape)  {
    .attach-modal {
     .modal-wrapper {
       position: absolute;
       top: 0 !important;
       left: 0 !important;
       display: block;
       width: 100% !important;
       height: 100% !important;
     } 
   }
//  }
